@{
    ViewBag.Title = "StartGame";
}

<h2>StartGame</h2>

    <div data-bind="foreach: characters">
        <div class="character">
            <div class="characterImageContainer">
                <img data-bind="attr: { src: imagepath, alt: name }" alt="Character" />
            </div>
            <div class="characterCurrencyGroupContainer">
                <div class="characterCurrencyGroupContainer">
                    <label data-bind="text: name" />
                </div>
            </div>
        </div>
    </div>


@*<div style="clear: both; ">
    <table>
    <tr><td>Gold</td><td style="text-align: left"><input data-bind="click: selectCurrency" type="radio" name="currencySelection" style="width:30px" title="Gold" /></td>
    <td>Blackmail</td><td style="text-align: left"> <input data-bind="click: selectCurrency" style="width:30px" name="currencySelection" type="radio" title="Blackmail" /></td>
    <td>Force</td><td style="text-align: left"> <input data-bind="click: selectCurrency" style="width:30px" name="currencySelection" type="radio" title="Force" /></td></tr>
    </table>
</div>*@

<script type="text/javascript">
    function Character(item) {
        var self = this;
        self.id = item.Id;        
        self.name = item.Name;
        //self.imagepath = "../Images/char_" + item.Name + ".jpg";
        self.imagepath = "../Images/char_general.jpg";
    }

    function CharacterViewModel() {
        var self = this;
        self.characters = ko.observableArray([]);

        // Load characters
        $.post("/GamePlay/GetCharacters", null, function (allServerCharacters) {
            var mappedCharacters = $.map(allServerCharacters, function (serverCharacter) { return new Character(serverCharacter); });
            self.characters(mappedCharacters);
        });

        // Event handler for currency selection
        self.selectCurrency = function() {
            $.post("/GamePlay/SetCurrentCurrency", null);
        };
    }

    ko.applyBindings(new CharacterViewModel());

</script>