@{
    ViewBag.Title = "StartGame";
}

<h2>StartGame</h2>

    <div data-bind="foreach: characters">
            <div class="character divTable" >
                <div class="divTableRow">
                    <div class="divTableCell">                   
                        <div style="float: left">
                            <img src="~/Images/gold.png" width="24" height="24" alt="Gold" />
                        </div>
                        <div style="float: left">A</div>
                        <div style="float: left">
                            <img src="~/Images/blackmail.png" width="24" height="24" alt="Blackmail" />
                        </div>
                        <div style="float: left">B</div>
                        <div style="float: left">
                            <img src="~/Images/force.png" width="24" height="24" alt="Force" />
                        </div>
                        <div style="float: left"></div>
                    </div>
                </div>
                <div class="divTableRow">
                    <div class="divTableCell">
                        <img data-bind="attr: { src: imagepath, alt: name }" alt="Character" />
                    </div>
                </div>
 @*               <div class="divTableRow">
                    <div class="divTableCell">
                        <strong data-bind="text: name" />
                    </div>
                </div>*@
            </div>
    </div>


<div style="clear: both; ">
    <table>
    <tr><td>Gold</td><td style="text-align: left"><input data-bind="click: selectCurrency" type="radio" name="currencySelection" style="width:30px" title="Gold" /></td>
    <td>Blackmail</td><td style="text-align: left"> <input data-bind="click: selectCurrency" style="width:30px" name="currencySelection" type="radio" title="Blackmail" /></td>
    <td>Force</td><td style="text-align: left"> <input data-bind="click: selectCurrency" style="width:30px" name="currencySelection" type="radio" title="Force" /></td></tr>
    </table>
</div>

<script type="text/javascript">
    function Character(item) {
        var self = this;
        self.id = item.Id;        
        self.name = item.Name;
        //self.imagepath = "../Images/char_" + item.Name + ".jpg";
        self.imagepath = "../Images/char_general.jpg";
    }

    function CharacterViewModel() {
        var self = this;
        self.characters = ko.observableArray([]);

        // Load characters
        $.post("/GamePlay/GetCharacters", null, function (allServerCharacters) {
            var mappedCharacters = $.map(allServerCharacters, function (serverCharacter) { return new Character(serverCharacter); });
            self.characters(mappedCharacters);
        });

        // Event handler for currency selection
        self.selectCurrency = function() {
            $.post("/GamePlay/SetCurrentCurrency", null);
        };
    }

    ko.applyBindings(new CharacterViewModel());

</script>